[Desktop Entry]
Name=xFreeRdpConnect
Comment=Hurma
GenericName=
Keywords=rdp
Exec=/home/user/.viewrdp/rdp.py
Terminal=false
Type=Application
Icon=/home/user/.viewrdp/icon.png
Path=
Categories=
NoDisplay=false
